@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e8f0e8;
    overflow-x: hidden;
}

#intro{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e8f0e8;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.Intro{
    text-align: center;
}

.Intrologo{
    width: 200px;
    animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut{
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8f0e8;
    padding: 0 5%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.logo img{
    height: 70px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a.active{
    background: #144b1f;
}

nav ul li a:hover{
    background: #ccc;
    color: #144b1f;
}


nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

.SousMenu2 {
    display: none;
    position: absolute;
    top: 60px;
    padding: 0;
    background-color: #e8f0e8;
    border-bottom: 5px solid #144b1f;
}

.SousMenu1:hover .sous-menu {
    display: block;
}

.SousMenu2 li {
    padding: 10px;
}

.SousMenu2 li a {
    color: #333;
}

.SousMenu2 li a:hover {
    color: #144b1f;
}

.CompteLogo img{
    height: 40px;
}

.ScrollingAcceuil{
    display: flex;
    height: 100dvh;
    width: 190dvh;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.ScrollingAcceuil img{
    pointer-events: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.ScrollingAcceuil .titre{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 25%;
    left: 50%;
    font-size: 60px;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.25);

}

section{
    padding: 20px;
}

.Bienvenus{
    position: relative;
    z-index: 100;
    padding: 80px;
    color: white;
    background: #31701F;
}

.Bienvenus h2{
    font-size: 30px;
}

.evenement{
    position: relative;
    padding: 80px;
    color: white;
    background: #31701F;
}

.evenement h2{
    font-size: 30px;
}

.carousel{
    color: white;
    padding: 80px;
    position: relative;
    background: #31701F;
}

.carousel h2{
    font-size: 30px;
}

.contenu{
    display: flex;
    height: 500px;
    flex-wrap:nowrap ;
    justify-content: center;
}

.carte{
    display: flex;
    align-items: flex-end;
    width: 80px;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    border-radius: 3rem;
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
}

.carte > .CD_row{
    display: flex;
    color: white;
    flex-wrap:  nowrap;
}

.carte> .CD_row> .ImgMed{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    margin: 15px;
    background: #144b1f;
    color: white;
    border-radius: 50%;
}

.carte > .CD_row > .DescriptionMed{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    transform: translateY(30px);
    transition: all .3s ease;
    transition-delay: .3s;
    width: 520px;
    height: 80px;
    opacity: 0;
}

.DescriptionMed p{
    color: #144b1f;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;

}

.DescriptionMed h4{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

input{
    display: none;
}

input:checked+label{
    width: 600px;
}

input:checked+label .DescriptionMed{
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.carte[for="c1"]{
    background-image: url("MedKevinDubois.jpg");
}

.carte[for="c2"]{
    background-image: url("MedJeanLouis.jpg");
}

.carte[for="c3"]{
    background-image: url("MedVirginieKirman.jpg");
}

.carte[for="c4"]{
    background-image: url("MedSophieLedos.jpg");
}

.carte[for="c5"]{
    background-image: url("MedLucasLopez.jpg");
}

footer{
    background: #31701F;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    left: 0;
    right: 0;
    top: auto;
    flex-direction: column;
}

nav2 ul{
    list-style: none;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 15px;
    border-top: 5px solid #e8f0e8;
}

nav2 ul li{
    margin-right: 20px;
    position: relative;
}

nav2 ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

nav2 ul li a:hover{
    background: #ccc;
    color: #144b1f;
}

nav2 ul .SousMenu4{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    list-style: none;
    border: none;
}

nav2 ul .SousMenu4 li{
    padding: 5px;
    width: 250px;
}

nav2 ul .SousMenu4 li a{
    font-size: 10px;
}

nav2 ul .SousMenu4 li a:hover{
    color: #144b1f;
}

.copyright{
    margin-top: 150px;
    color: #fff;
    font-size: 14px;
    padding: 15px;
    text-align: center;
    width: 700px;
    border-top: 5px solid #e8f0e8 ;
}

.copyright img{
    height: 80px;
    width: 80px;
}