/* HeaderFooter.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #e8f0e8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8f0e8;
    padding: 0 5%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.logo img {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a.active {
    background: #144b1f;
}

nav ul li a:hover {
    background: #ccc;
    color: #144b1f;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

.SousMenu2 {
    display: none;
    position: absolute;
    top: 59px;
    padding: 0;
    background-color: #e8f0e8;
    border-bottom: 5px solid #144b1f;
}

.SousMenu1:hover .sous-menu {
    display: block;
}

.SousMenu2 li {
    padding: 10px;
}

.SousMenu2 li a {
    color: #333;
}

.SousMenu2 li a:hover {
    color: #144b1f;
}

.CompteLogo img {
    height: 70px;
}

footer {
    background: #31701F;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px 0;
    flex-direction: column;
    color: black;
}

nav2 ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

nav2 ul li {
    margin-right: 20px;
    position: relative;
}

nav2 ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

nav2 ul li a:hover {
    background: #ccc;
    color: #144b1f;
}

nav2 ul .SousMenu4 {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    list-style: none;
    border: none;
}

nav2 ul .SousMenu4 li {
    padding: 4px;
    width: 250px;
    bottom: 2px;
}

nav2 ul .SousMenu4 li a {
    font-size: 9px;
}

nav2 ul .SousMenu4 li a:hover {
    color: #144b1f;
}

.menu-footer {
    position: relative;
    padding: 30px;
}

.menu-footer2 {
    display: flex;
    justify-content: center;
    width: 900px;
    padding: 15px;
    border-top: 5px solid #e8f0e8;
}

.copyright {
    position: relative;
    padding: 30px;
    top: 10px;
}

.copyright2 {
    display: flex;
    justify-content: center;
    width: 900px;
    padding: 15px;
    font-size: 10px;
    border-top: 5px solid #e8f0e8;
}

.copyright3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 55px;
}

.copyright p {
    list-style: none;
    display: flex;
    position: relative;
    font-size: 10px;
    font-weight: bold;
    justify-content: left;
}

.insta {
    margin-right: 50px;
}

.x {
    margin-left: 50px;
}

.insta img {
    height: 40px;
    width: 40px;
}

.x img {
    height: 40px;
    width: 40px;
}

.Map {
    display: flex;
    position: relative;
    padding: 30px;
    height: 520px;
}

.GoogleMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding-top: 15px;
    border-top: 5px solid #e8f0e8;
}

.GoogleMap iframe {
    border-radius: 10px;
}
