.SousMenu5{
    display: none;
    position: absolute;
    top: 56px;
    padding: 0;
    background-color: #e8f0e8;
    border-bottom: 5px solid #144b1f;
}

.SousMenu5 li{
    padding: 10px;
}

.SousMenu5 li a{
    color: #333;
}

.SousMenu5 li a:hover{
    color: #144b1f;
}


.recherche{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    color: white;
    overflow: hidden;
    top: 70px;
    width:auto;
    position: relative;
    height: auto;
}

.recherche h1{
    display: flex;
    position: relative;
    color: black;
    overflow: hidden;
    align-items: center;
    width:auto;
    font-size: 60px;
    height: 80px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.RechercheResultats{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 80px;
    overflow: hidden;
    top: 70px;
    width:auto;
    height:auto;
}

.RechercheResultats h1{
    display: flex;
    position: relative;
    color: black;
    overflow: hidden;
    align-items: center;
    width:auto;
    font-size: 30px;
    bottom: 80px;
    text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.barre{
    margin-top: 20px;
    height: 60px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: black;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    border-radius: 50px;
}

.barre input{
    flex:1;
    width: 0;
    transition: 0.8s;
    font-weight: 500;
    background: transparent;
    outline: none;
    color: #e8f0e8;
    border: none;
}

.barre:hover input{
    width: 500px;
}

.barre a .fa{
    color: #144b1f;
    font-size: 18px;
}
